bucket         = "REPLACE_WITH_DEDICATED_TF_STATE_BUCKET"
key            = "aws-eks-platform-blueprint/dev/terraform.tfstate"
region         = "eu-central-1"
encrypt        = true
use_lockfile   = true
kms_key_id     = "alias/terraform-state"
